<div style="color: #35393B; margin-top: 100px; text-align: center; font-family: HelveticaNeue-Light, sans-serif;">
  <img src="images/github.png">
  <img src="images/k8s.png">
  <h2>K8S Pods IP Detector</h2><div style="color: rgb(29, 17, 204);"><h3>Karam Abuataya</h3></div>
      <div style="color: #1f791f;">
        Pod Name: <strong>{{hostn}}</strong>
        <BR>
        Pod IP: <strong>{{ipadd}}</strong>
        <BR>
        OS: <strong>{{ostype}}</strong>
        <BR>
        Release: <strong>{{osrelease}}</strong>
        </div>        
        <p>
  <div style="color: #838789;">    
    <p>K8 Pods IP Detector
      <BR>
      <strong>Karam Abuataya - https://github.com/kabuataya</strong>
    </p>
  </div>
</div>

{{!--Version 2--}}