    <div style="color: #35393B; margin-top: 100px; text-align: center; font-family: HelveticaNeue-Light, sans-serif;">
  <img src="../public/images/k8s.png">
  <h2>The Sphinx Project</h2><div style="color: DarkRed;"><h3>App v2.0</h3></div>
  
      <div style="color: #1f4e79;">
        Pod Name: <strong>{{hostn}}</strong>
        <BR>
        Pod IP: <strong>{{ipadd}}</strong>
        <BR>
        OS: <strong>{{ostype}}</strong>
        <BR>
        Release: <strong>{{osrelease}}</strong>
        </div>        
        <p>
  <div style="color: #838789;">    
    <p>The Sphinx-Project is a sample app using modern web frameworks like Node and Express to help demonstrate the VMware containers and kubernetes implementation. 
      <BR>
      <strong>Hany Michael - www.networkskyx.com</strong>
    </p>
  </div>
</div>

{{!--Version 2--}}